/* -- Download section -- */

.download h2 {
  margin-bottom: .6em;
  padding-bottom: .2em;
  overflow: visible;
  font-size: 1em;
  font-family: $arvo;
  font-weight: 400;
  color: #666;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
  border-bottom: 1px solid rgba(0,0,0,0.3);

  // small adjustment on interior pages
  .not-front & {
    margin-top: 0;
  }
}

.download #download {
  display: block;
  clear: both;
  width: 0;
  height: 0;
  padding: 1.35em 4.2em 2.7em 17.3em;
  background: image-url('sprite.png') no-repeat 0 -100px;

  font-family: $arvo;
  font-size: .8em;
  font-style: italic;
  text-decoration: none;
  color: #777;
  white-space: nowrap;
}

.download .pf7 {
  font-size: .9em;
  line-height: 1.4em;
  padding-left: 12px;
}
