/**
 * Responsive styles
 *
 * All styles in this file are wrapped in media queries.
 */


/**
 * Not-phones
 */

@media only screen and (min-width: 43em) {

  // Interior page: Slogan
  .not-front header h2 {
    display: block;
  }
  
  .footer-social-btn {
    width: auto;
    float: left;
  }

}
