/**
 * Layout for pressflow.org
 *
 * For help with...
 *
 *    Sass: http://sass-lang.com/tutorial.html
 * Compass: http://compass-style.org/reference/compass/
 *    Susy: https://github.com/ericam/compass-susy-plugin/blob/master/README.mkdn
 **/
/**
 * Basic layout. Browsers without MQs, or small devices with MQs.
 */
#page {
  display: inline;
  float: left;
  width: 80.328%;
  margin-right: 1.639%;
  padding-left: 8.197%;
  padding-right: 8.197%;
  margin-left: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}

/**
 * Medium-sized devices with MQs. Size not final!!!
 */
/**
 * Bigger devices with MQs. Size not final!!!
 */
