/**
 * Responsive styles
 *
 * All styles in this file are wrapped in media queries.
 */
/**
 * Navigation-specific styling.
 */
@media only screen and (min-width: 36em) {
  nav li {
    float: right;
  }

  nav li.first {
    float: left;
    display: inline-block;
  }

  nav li a {
    display: inline-block;
  }
}
/**
 * Bigger devices with MQs.
 */
