@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
/**
 * Regular comment block.
 *
 * Feel free to skip lines, or otherwise format as you wish.
 * Make sure to add the second asterisk on the first line,
 * and try to make the comment a block for better readability.
 */
/* === Major Headings: three equal signs === */
/* -- Sub-headings: two dashes -- */
/* Individual comments should have no markings. Keep to one line or switch to comment block. */
/**
 * These are Compass declarations. This Sass file
 * cannot compile to CSS3 without these libraries.
 */
/**
 * Colors
 */
/**
 * Fonts
 */
/* @todo: add League Gothic web font */
/**
 * Resets and helper classes not supplied by normalize.css
 */
a {
  color: #2090b4;
}

a:visited {
  color: #2090b4;
}

a:hover {
  color: #2090b4;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h2 {
  clear: both;
  color: #c54b2c;
  text-transform: uppercase;
  font-family: "League Gothic", sans-serif;
  font-size: 2.4em;
  font-weight: 400;
}

h3 {
  color: #473430;
  font-family: Arvo, Georgia, serif;
}

p {
  opacity: .9;
}

ul {
  display: block;
}

ul.links {
  display: inline;
}

nav ul {
  margin: 0;
  display: inline;
}

table {
  width: 100%;
  font-size: 1em;
}

thead th {
  border-bottom: 1px solid #fff;
}

tr, tr.even, tr.odd {
  border-bottom: 1px solid #fff;
  padding: 0;
}

tr.odd {
  background-color: #ebf6fa;
}

tr.even {
  background-color: #abcddc;
}

/* === Non-semantic helper classes. === */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br {
  display: none;
}

/* Hide for both screenreaders and browsers: h5bp.com/m */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*  Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/**
 * Custom styles for Pressflow.org
 */
/* === General styles === */
body {
  background: #d8d8d8 url("../../img/bg-grid.png") left top;
  color: #424242;
  font-size: 15px;
  line-height: 1.231;
  font-family: arial, sans-serif;
  font-weight: 300;
}

/* -- Logo -- */
.front #logo {
  display: block;
  background: url("../../img/logo.png") no-repeat 50% top;
  background-size: contain;
  padding-top: 4em;
  margin-bottom: 0;
  /* image replacement */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* -- Header -- */
header {
  background: #d8d8d8 url("../../img/bg-noise.png") left top;
  border-bottom: 1px solid #c1c1c1;
}

nav li {
  float: left;
}

nav li a {
  display: inline-block;
  margin: .5em;
  padding: .4em 1em;
  color: #666;
  text-decoration: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee);
  background-image: -o-linear-gradient(#ffffff, #eeeeee);
  background-image: -ms-linear-gradient(#ffffff, #eeeeee);
  background-image: linear-gradient(#ffffff, #eeeeee);
  border-radius: 7px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/*
nav li.first a {
  @include background-image(
    linear-gradient(#fff, #eee),
    image-url('sprite.png')
  );
  background-repeat: repeat, no-repeat;
  background-position: left top, -100px top;
}
*/
/* -- Footer -- */
footer {
  background: #c1c1c1;
  color: #fff;
}

/* === Front page === */
.front header {
  width: 100%;
  background: url("../../img/bg-mountain.png") no-repeat 50% top;
  background-size: cover;
}

.front .stripe {
  width: 103.47%;
  padding: 1em 0;
  background: rgba(255, 255, 255, 0.6);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* -- Intro -- */
.intro {
  padding-left: 3em;
}

.intro h2 {
  text-transform: none;
  color: #473430;
  font-family: "League Gothic", sans-serif;
  font-size: 3em;
  line-height: 0;
  white-space: nowrap;
}

/* -- Download section -- */
.download h2 {
  width: 60%;
  margin: 0 auto .6em 3em;
  padding-bottom: .2em;
  overflow: visible;
  font-size: 1em;
  font-family: Arvo, Georgia, serif;
  font-weight: 400;
  text-transform: lowercase;
  color: #666;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.download #download {
  display: block;
  width: 90%;
  height: 0;
  padding-top: 3em;
  margin-left: 3em;
  background: url("../../img/sprite.png") no-repeat 0 -100px;
  /* image replacement */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.download .pf7 {
  margin-left: 3em;
}

/* -- Informational blocks -- */
#wat section {
  margin-bottom: 1em;
}

#wat h3:after {
  content: ' ';
  display: inline-block;
  width: 30px;
  height: 25px;
  background: url("../../img/sprite.png") no-repeat;
  position: relative;
  top: 6px;
  margin-left: .8em;
}

#wat .install h3:after {
  background-position: left top;
}

#wat .compat h3:after {
  background-position: -40px top;
}

#wat .support h3:after {
  background-position: -76px top;
}

#wat .support .button {
  display: inline-block;
  background: white url("../../img/sprite.png") no-repeat -130px 10px;
  padding: .7em 1em .7em 2.3em;
  font-size: 1.1em;
  font-family: Arvo, Georgia, serif;
  color: #c54b2c;
  text-decoration: none;
  border-radius: 7px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/* === FAQ Page theming === */
.hidden-answer {
  display: none;
}

.view-id-faq_view .views-row {
  margin: .8em 1.3em;
  list-style-type: circle;
  display: list-item;
}

.view-id-faq_view .views-row .hidden-answer {
  margin: -0.5em 0 2em 1em;
}

/**
 * Medium-sized devices with MQs. Size not final!!!
 */
@media only screen and (min-width: 42em) {
  .download h2 {
    text-align: center;
  }
}
/**
 * Bigger devices with MQs. Size not final!!!
 */
@media only screen and (min-width: 64em) {
  body.front .view-pressflownians .views-row {
    padding: 0 2em;
  }

  body.front .view-pressflownians .views-row-last {
    display: none;
  }
}
