/**
 * Regular comment block.
 *
 * Feel free to skip lines, or otherwise format as you wish.
 * Make sure to add the second asterisk on the first line,
 * and try to make the comment a block for better readability.
 */
/* === Major Headings: three equal signs === */
/* -- Sub-headings: two dashes -- */
/* Individual comments should have no markings. Keep to one line or switch to comment block. */
/**
 * Resets and helper classes not supplied by normalize.css
 */
body {
  background: #d7d7d7 url("../../img/bg-grid.png") left top;
  color: #424242;
  font-size: 15px;
  line-height: 1.231;
}

a {
  color: #2090b4;
}

a:visited {
  color: #2090b4;
}

a:hover {
  color: #2090b4;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h2 {
  clear: both;
  color: #c54b2c;
  text-transform: uppercase;
}

h3 {
  color: #3d1c00;
  font-family: Adelle, Georgia, serif;
}

ul {
  display: block;
}

ul.links {
  display: inline;
}

nav ul {
  margin: 0;
  display: inline;
}

table {
  width: 100%;
  font-size: 1em;
}

thead th {
  border-bottom: 1px solid #fff;
}

tr, tr.even, tr.odd {
  border-bottom: 1px solid #fff;
  padding: 0;
}

tr.odd {
  background-color: #EBF6FA;
}

tr.even {
  background-color: #ABCDDC;
}

/* === Non-semantic helper classes. === */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br {
  display: none;
}

/* Hide for both screenreaders and browsers: h5bp.com/m */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*  Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/**
 * Custom styles for Pressflow.org
 */
/* -- Logo -- */
.front #logo {
  display: block;
  width: 942px;
  height: 198px;
  margin: 3% auto;
  background: url("../../img/logo.png") no-repeat 50% top;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* -- Header -- */
header {
  background: #d8d8d8 url("../../img/bg-noise.png") left top;
  border-bottom: 1px solid #c1c1c1;
}

header hgroup {
  background: url("../../img/bg-mountain.png") no-repeat 50% bottom;
}

/* -- Footer -- */
footer {
  background: #7d7d7d;
  color: #fff;
}
