/**
 * These are Compass declarations. This Sass file
 * cannot compile to CSS3 without these libraries.
 */

@import "compass/css3";


/**
 * Colors
 */

$zebra-odd    : #ebf6fa;
$zebra-even   : #abcddc;

$blue         : #2090b4;
$brown        : #473430;
$burnt-red    : #c54b2c;
$c1           : #c1c1c1;
$d8           : #d8d8d8;


/**
 * Fonts
 */

// Arvo - Adelle substitute
@import url('http://fonts.googleapis.com/css?family=Arvo:400,700');

// League Gothic
@font-face {
  font-family: 'League Gothic';
  src:  url('../../fonts/league-gothic/webfonts/League_Gothic-webfont.eot');
  src:  url('../../fonts/league-gothic/webfonts/League_Gothic-webfont.eot?iefix') format('eot'),
        url('../../fonts/league-gothic/webfonts/League_Gothic-webfont.woff') format('woff'),
        url('../../fonts/league-gothic/webfonts/League_Gothic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

$arvo         : Arvo, Georgia, serif;
$league       : "League Gothic", sans-serif;

/**
 * Mixins
 */

// White header stripe

@mixin stripe() {
  width: 103.46%;
  padding: 2em 0;
  background: rgba(255,255,255,0.6);
  border-top: 1px solid rgba(0,0,0,0.2);
}
