/**
 * @TODO: Why do I have to import _defaults.scss twice?
 *        front.scss does not compile unless 'defaults' is imported redundantly.
 *        Original @import is at the top of style.scss
 */

@import 'defaults';


/* === Front page === */

.front header {
  width: 100%;
  background: url('../../img/bg-mountain.png') no-repeat 50% top;
  background-size: cover;
}

.front nav li.first {
  display: none;
}

.front #logo {
  width: 95%;
  height: auto;
  background: url('../../img/logo.png') no-repeat 50% top;
  padding-top: 4em;
  margin-bottom: -.6em;
  margin-left: 2.5%;

  // Sit on top of stripe
  position: relative;
  z-index: 10;

  // image replacement
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  // Modernizr enhancements
  .backgroundsize & {
    background-size: contain;
  }
  .no-backgroundsize & {
    min-height: 198px;
    padding-top: 0;
  }
}

.front .stripe {
  @include stripe();
}


/* -- Intro -- */

.intro {
  font-size: 18px;
  h2 {
    float: none;
    margin: .8em 0;
    text-transform: none;
    color: $brown;
    font-family: $league;
    font-size: 3em;
    line-height: 0;
    white-space: nowrap;
  }
}

/* -- Download section -- */

.download h2 {
  margin-bottom: .6em;
  padding-bottom: .2em;
  overflow: visible;
  font-size: 1em;
  font-family: $arvo;
  font-weight: 400;
  text-transform: lowercase;
  color: #666;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.download #download {
  display: block;
  clear: both;
  width: 0;
  height: 0;
  padding: 1.45em 4.2em 2.7em 18.6em;
  background: url('../../img/sprite.png') no-repeat 0 -100px;

  font-family: $arvo;
  font-size: .8em;
  font-style: italic;
  text-decoration: none;
  color: #777;
  white-space: nowrap;
}

.download .pf7 {}


/* -- Informational blocks -- */

#front-info {
  font-size: 18px;
  section {
    margin-bottom: 1em;
  }
}

#front-info {
  ul {
    opacity: .9;
    list-style-type: none;
    margin-left: 1.5em;
    padding: 0;
  }
  li {
    margin-bottom: .5em;
  }
}

#front-info .support .button {
  display: inline-block;
  background: #fff url('../../img/sprite.png') no-repeat -130px 10px;
  padding: .7em 1em .7em 2.3em;
  font-size: 1.1em;
  font-family: $arvo;
  color: $burnt-red;
  text-decoration: none;
  border-radius: 7px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
