/**
 * Responsive styles
 *
 * All styles in this file are wrapped in media queries.
 */


/**
 * Medium-sized devices with MQs. Size not final!!!
 */

@media only screen and (min-width: 42em) {

  .download h2 {
    text-align: center;
  }
  
  nav li {
    float: right;
  }
  
  // Home link is on the opposite side
  nav li.first {
    float: left;
    display: inline-block;
  }
  
  nav li a {
    display: inline-block;
  }
  
  .front #logo {
    width: 98%;
  }

}


/**
 * Bigger devices with MQs. Size not final!!!
 */

@media only screen and (min-width: 61em) {

}
