/**
 * Regular comment block.
 *
 * Feel free to skip lines, or otherwise format as you wish.
 * Make sure to add the second asterisk on the first line,
 * and try to make the comment a block for better readability.
 */

/* === Major Headings: three equal signs === */

/* -- Sub-headings: two dashes -- */

/* Individual comments should have no markings. Keep to one line or switch to comment block. */

@import 'defaults';


/**
 * Resets and helper classes not supplied by normalize.css
 */

a { 
  color: $blue;
}

a:visited {
  color: $blue;
}

a:hover { 
  color: $blue;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {}

h2 {
  clear: both;
  color: #c54b2c;
  text-transform: uppercase;
  font-family: $league;
  font-size: 2.4em;
  font-weight: 400;
}

h3 {
  color: $brown;
  font-family: $arvo;
}

h4 {}

h5 {}

h6 {}

p {
  opacity: .9;
}

ul,
ol {}

ul {
  display: block;
}

ul.links {
  display: inline;
}

nav ul {
  margin: 0;
  display: inline;
}

table {
  width: 100%;
  font-size: 1em;
}

thead {}

thead th {
  border-bottom: 1px solid #fff;
}

td {}

tr, tr.even, tr.odd {
  border-bottom: 1px solid #fff;
  padding: 0;
}

tr.odd {
  background-color: $zebra-odd;
}

tr.even {
  background-color: $zebra-even;
}



/* === Non-semantic helper classes. === */

/* For image replacement */
.ir { 
  display: block; 
  border: 0; 
  text-indent: -999em; 
  overflow: hidden; 
  background-color: transparent; 
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br { 
  display: none;
}
 
/* Hide for both screenreaders and browsers: h5bp.com/m */
.hidden { 
  display: none !important;
  visibility: hidden;
}
 
/*  Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { 
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus { 
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
 
/* Hide visually and from screenreaders, but maintain layout */
.invisible { 
  visibility: hidden;
}
 
/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after { 
  content: "";
  display: table;
}

.clearfix:after { 
  clear: both;
}

.clearfix { 
  zoom: 1;
}



/**
 * Custom styles for Pressflow.org
 */

/* === General styles === */

body {
  background: $d8 url('../../img/bg-grid.png') left top;
  color: #424242;
  font-size: 15px;
  line-height: 1.231;
  font-family: arial, sans-serif;
  font-weight: 300;
}


/* -- Logo -- */

.front #logo {
  display: block;
  background: url('../../img/logo.png') no-repeat 50% top;
  background-size: contain;
  padding-top: 4em;
  margin-bottom: 0;

  /* image replacement */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


/* -- Header -- */

header {
  background: $d8 url('../../img/bg-noise.png') left top;
  border-bottom: 1px solid $c1;
}

nav li {
  float: right;
}

/* Home link is on the opposite side */
nav li.first {
  float: left;
}

nav li a {
  display: inline-block;
  margin: .5em;
  padding: .4em 1em;
  color: #666;
  text-decoration: none;
  @include background-image(linear-gradient(#fff, #eee));
  border-radius: 7px;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4);
}

/* Home link has an icon & dark gradient */
.multiplebgs nav li.first a {
  width: 13px;

  @include background-image(
    image-url('sprite.png'),
    linear-gradient(#666, #333)
  );
  background-repeat: no-repeat;
  background-position: -101px 6px, left top;

  /* image replacement */
  text-indent: 300%;
  white-space: nowrap;
  overflow: hidden;
}



/* -- Footer -- */

footer {
  background: $c1;
  color: #fff;
}


/* === FAQ Page theming === */

.hidden-answer {
  display: none;
}

.view-id-faq_view .views-row {
  margin: .8em 1.3em;
  list-style-type: circle;
  display: list-item;
}

.view-id-faq_view .views-row .hidden-answer {
  margin: -.5em 0 2em 1em;
}


/**
 * Front page styles are in their own file
 */

@import 'front';

/**
 * Responsive styles are in their own file
 */

@import 'responsive';
